:root {
  font-family: "Google Sans", Inter, sans-serif;

  color-scheme: dark;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-background);

  --md-sys-color-background: #1a110f;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #1a110f;
  --md-sys-color-surface-container-low: #201714;
  --md-sys-color-surface-container: #271d1a;
  --md-sys-color-surface-container-high: #302522;
  --md-sys-color-surface-container-highest: #332622;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-on-surface-variant: #d9c8c2;
  --md-sys-color-outline-variant: #624c45;
  --md-sys-color-primary: #ebc2b4;
  --md-sys-color-on-primary: #4a0f13;
  --md-sys-color-primary-container: #513030;
  --md-sys-color-on-primary-container: #ffb59c;
  --md-sys-color-secondary-container: #513030;
  --md-sys-color-on-secondary-container: #ebc2b4;
  --md-sys-color-tertiary: #c7a0a0;
  --md-sys-color-tertiary-container: #4a302e;
  --md-sys-color-on-tertiary-container: #f6d8cf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  background: var(--md-sys-color-background);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 0.75rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes dot-blink {
  0% {
    opacity: 20%;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 20%;
  }
}

.slide-fade-enter-active {
  transition: opacity 180ms ease-out, transform 180ms ease-out;
  will-change: opacity, transform;
}

.slide-fade-exit-active {
  transition: opacity 120ms cubic-bezier(1, 0.5, 0.8, 1), transform 120ms cubic-bezier(1, 0.5, 0.8, 1);
  will-change: opacity, transform;
}

.slide-fade-enter,
.slide-fade-exit-to {
  transform: translate3d(0, 0.5rem, 0);
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
  }
}

/* Custom scrollbar */
/* Firefox */
* {
  scrollbar-color: var(--md-sys-color-primary) transparent !important;
  scrollbar-width: thin !important;
}

/* WebKit */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--md-sys-color-primary);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--md-sys-color-on-primary-container);
  border-radius: 0.5rem;
}
